<h1 class="text-danger">Top Cricketers</h1>
<button type="button" class="btn btn-primary mx-2">MSDhoni</button>
<button type="button" class="btn btn-secondary">kohli</button>
<button type="button" class="btn btn-warning">Rohit</button>
<button type="button" class="btn btn-success">Yuvraj</button>
<button type="button" class="btn btn-success">Yuvraj</button>
<button typ e="button" class="btn btn-success">Yuvraj</button>
<button typ e="button" class="btn btn-success">me</button>
<button typ e="button" class="btn btn-success">hello</button>


